.galleryEntryContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
    width: 320px;
    height: 180px;
}

.galleryEntryImage {
    overflow:hidden;
    object-fit: contain;
    opacity: 1;
    display: block;
    width: 320px;
    height: 180px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.galleryEntryHover {
    transition: .5s ease;
    opacity: 0;
}

.galleryEntrySkills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
  
.galleryEntryContainer:hover .galleryEntryImage {
    opacity: 0.2;
}

  
.galleryEntryContainer:hover .galleryEntryHover {
    opacity: 1;
}

.galleryEntryTitle {
    color: #FFFFFF;
    margin: 5px;
}

.galleryText {
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #3A3F44;
    color: #FFFFFF;
    font-size: x-small;
    padding: 5px;
    margin: 5px;
}